.main {
  position: relative;
  height: 100vh;
  margin: 0 auto;
  padding: 30px 16px;
  font-size: 1.95rem;
  color: #212529;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 10% left 0;
  background-image: url(../img/family/XuanPhao19.png);
}

.card123_wrapper {
  position: absolute;
  left: 50%;
  width: 90%;
  height: 96vh;
  overflow: hidden;
  text-align: center;
  transform: translateX(-50%);
}

.card_flip {
  width: 98%;
  border-radius: 20px;
  overflow: hidden;
  border: 6px solid #f6f2ff4d;
}

.item_wrap {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 10px;
  cursor: pointer;
}
.item_wrap .back,
.item_wrap .face {
  height: 92vh !important;
}

.item_wrap .back {
  display: none;
}

.wImg {
  display: flex;
  height: 50%;
  background: linear-gradient(rgb(94, 187, 255), rgb(54, 229, 14), rgb(230, 236, 33), rgb(229, 86, 247)) border-box
    border-box;
  padding: 16px 16px 0 16px;
}

.w_img {
  position: relative;
  bottom: 2px;
  display: inline-block;
  border: medium none;
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.back .w_img {
  opacity: 0.7;
}

.f-roboto-bold,
.w_example,
.w_meaning {
  position: relative;
  display: flex;
  align-items: center;
  gap: 18px;
  margin: 56px auto 0;
  padding: 12px 36px 16px;
  width: 312px;
  font-size: 52px;
  font-weight: 600;
  color: #812984;
  text-shadow: -2px 2px 1px #fff;
  letter-spacing: 2px;
  border-radius: 12px;
  background: #977c7c;
  overflow: hidden;
}
@keyframes color_change {
  0% {
    color: rgb(236, 11, 11);
    background: #39b7f1;
  }
  20% {
    color: rgb(199, 236, 11);
    background: #732626;
  }
  40% {
    color: blue;
    background: #d7da33;
  }
  60% {
    color: rgb(75, 237, 6);
    background: #f67a7a;
  }
  80% {
    color: rgb(255, 174, 0);
    background: #6372f6c1;
  }
}
.f-roboto-bold,
.w_example {
  justify-content: center;
  animation: color_change 8s infinite linear;
  min-width: fit-content;
}
.w_meaning {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  animation: color_change 8s infinite 1s linear;
}

.w_word {
  background-position: 0px center;
  background-image: url(../img/family/Hai_co_tam.png);
  background-size: 155px;
  background-repeat: no-repeat;
}
.uba_audioButton {
  vertical-align: middle;
  margin: 0 0 12px 16px;
  width: 52px;
  height: 52px;
  cursor: pointer;
  background-position: 0px center;
  background-image: url(../img/speeck.png);
  background-size: 155px;
  background-repeat: no-repeat;
  display: inline-block;
}
.uba_audioButton::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.uba_audioButton.playing,
.uba_audioButton:hover {
  background-position: -105px center;
}
.w_phonetic {
  display: inline-block;
  font-size: 68px;
  color: #a86423;
  text-shadow: -2px 2px 1px #df20f5;
  padding-top: 22px;
  font-family: system-ui;
}
.card_number {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  line-height: 48px;
  padding: 0 10px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  background: #2027f5c9;
  transform: translateX(-50%);
  border-radius: 16px 16px 0 0;
  box-shadow: 0 0 2px #fff;
}
.card_bt {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 43%;
  width: 120px;
  height: 120px;
  margin: 10px;
  text-align: center;
  border-radius: 100%;
  background: #7dbdf1;
  box-shadow: 0 0 10px #5242547c;
  cursor: pointer;
  z-index: 10;
}

.card_next {
  right: 6px;
  animation: color_change 3s infinite 1s linear;
}
.card_back {
  left: 6px;
  animation: color_change 3s infinite linear;
}

.card_next:after,
.card_back:after {
  content: "";
  width: 0;
  height: 0;
  border: 30px solid;
  border-color: transparent transparent transparent #ff0000d1;
}
.card_next:after {
  margin-left: 36px;
}
.card_back:after {
  margin-right: 36px;
  border-color: transparent #ff0000d1 transparent transparent;
}

.xuanPhao {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 380px;
  background-size: 3800px;
  background-image: url(../img/EmLaPhao-min.png);
  background-repeat: no-repeat;
  animation: w1Effect 3s steps(12) infinite;
  -webkit-animation: w1Effect 6s steps(12) infinite;
  z-index: 9999999999999;
}
@keyframes w1Effect {
  100% {
    background-position: -2400px;
  }
}

/* screen and (max-width: 640px) */
@media (min-width: 986px) {
  .main {
    width: 30vw;
  }
  div#box_content {
    width: 100%;
  }
  .w_meaning,
  .f-roboto-bold,
  .w_example {
    margin-top: 16px;
    padding-top: unset;
    padding-bottom: unset;
  }
  .w_meaning {
    width: 80%;
  }
  .w_phonetic {
    padding-top: unset;
  }
  .card_bt {
    font-size: 12px;
    top: 45% !important;
    width: 60px !important;
    height: 60px !important;
  }

  .card_next:after,
  .card_back:after {
    width: 0;
    height: 0;
    border: 16px solid;
  }
  .card_next:after {
    margin-left: 18px;
    border-color: transparent transparent transparent #ff0000d1;
  }
  .card_back:after {
    margin-right: 18px;
    border-color: transparent #ff0000d1 transparent transparent;
  }
  .card_number {
    bottom: -38px;
  }
  .xuanPhao {
    top: 10%;
    width: 280px;
    animation: w1Effect 4s steps(12) infinite;
    -webkit-animation: w1Effect 4s steps(12) infinite;
  }
}
